## Observations and Insights

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "../resources/Mouse_metadata.csv"
study_results_path = "../resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
merged_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")

# Display the data table for preview
merged_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [3]:
# Checking the number of mice.
merged_df["Mouse ID"].nunique()

249

In [4]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
merged_df["Mouse ID"][merged_df.duplicated(["Mouse ID", "Timepoint"])]

909    g989
911    g989
913    g989
915    g989
917    g989
Name: Mouse ID, dtype: object

In [5]:
# Optional: Get all the data for the duplicate mouse ID.

In [6]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = merged_df[(merged_df["Mouse ID"]!="g989")]

In [7]:
# Checking the number of mice in the clean DataFrame.
clean_df["Mouse ID"].nunique()

248

## Summary Statistics

In [17]:
# ### Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# # This method is the most straighforward, creating multiple series and putting them all together at the end.
# # series
summary_stats = clean_df[["Drug Regimen", "Tumor Volume (mm3)"]]
summary_stats = summary_stats.set_index("Drug Regimen")

# volume_mean = np.mean(tumor_volume)
# volume_median = np.median(tumor_volume)
# volume_variance = np.var(tumor_volume,ddof=0)
# volume_stdev = np.std(tumor_volume,ddof=0)
# # need SEM

# # create dataframe
# summary_df = pd.DataFrame({
#     "Mean": volume_mean,
#     "Median": volume_median,
#     "Variance": volume_variance,
#     "Standard Deviation": volume_stdev
# })
# # summary_df

In [11]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

summary_grouped = summary_stats_df.groupby(["Drug Regimen"]).describe()
summary_grouped

             Tumor Volume (mm3)                                             \
                          count       mean       std        min        25%
Drug Regimen
Capomulin                 230.0  40.675741  4.994774  23.343598  37.685933
Ceftamin                  178.0  52.591172  6.268188  45.000000  47.208427
Infubinol                 178.0  52.884795  6.567243  36.321346  47.312353
Ketapril                  188.0  55.235638  8.279709  45.000000  48.232987
Naftisol                  186.0  54.331565  8.134708  45.000000  47.285874
Placebo                   181.0  54.033581  7.821003  45.000000  47.459053
Propriva                  148.0  52.320930  6.622085  45.000000  46.894328
Ramicane                  228.0  40.216745  4.846308  22.050126  36.674635
Stelasyn                  181.0  54.233149  7.710419  45.000000  48.047139
Zoniferol                 182.0  53.236507  6.966589  45.000000  47.337876


                    50%        75%        max
Drug Regimen
Capomulin     41.557809  45.000000  48.158209
Ceftamin      51.776157  56.801438  68.923185
Infubinol     51.820584  57.314444  72.226731
Ketapril      53.698743  60.870951  78.567014
Naftisol      52.509285  59.963034  76.668817
Placebo       52.288934  59.916934  73.212939
Propriva      50.446266  56.491585  72.455421
Ramicane      40.673236  45.000000  47.622816
Stelasyn      52.431737  58.719297  75.123690
Zoniferol     51.818479  57.954259  73.324432

## Bar and Pie Charts

In [24]:
clean_df.head(3)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1

In [27]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 
treatment_and_count = clean_df[["Drug Regimen", "Mouse ID"]]
treatment_and_count = treatment_and_count.set_index("Drug Regimen")
treatment_and_count.head()
# clean_df.plot(kind="bar", drug_regimen, mice_count)

             Mouse ID
Drug Regimen
Ramicane         k403
Ramicane         k403
Ramicane         k403
Ramicane         k403
Ramicane         k403

In [22]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.
plt.plot(drug_regimen, mice_count)

NameError: name 'drug_regimen' is not defined

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen